@use '@/styles/scss/abstracts/' as *;

.container {
  margin: 3rem auto;
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 430px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}