@use '@/styles/scss/abstracts/' as *;

.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-family: space grotesk, sans-serif;
  cursor: pointer;
  color: #f8f9fa;
  background-color: $complementaryColor;
  border: 2px solid $highlightColor;
  border-radius: 4px;

  &:hover, &:active {
    background-color: $brandColor;
    color: $complementaryColor;
  }
}