@use "sass:color";

// MAIN COLORS
$primaryColor: linear-gradient(180deg, #f8f9fa 10%, #e9ecef 100%);
$complementaryColor: #143A52;
$brandColor: #6EC1F2;

$highlightColor: #9DFF00;
$dangerColor: #7f1d1d;