@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.heroSplit {
  margin-top: 5.8em;
  background: no-repeat center/cover;  
  height: 25vh;
  min-height: 100vh;
}

.textContent {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  margin: 0 auto;

  h1 {
    margin: 0.5rem 0;
    font-size: 2.8em;
    font-weight: 400;
    color: $complementaryColor;
    letter-spacing: 1px;
  }

  span {
    font-weight: 700;
  }

  p {
    margin: 0.5rem;
    font-size: 1.2em;
    color:$complementaryColor;
  }
}

.imageSide {
text-align: center;

  
  img {
    object-position: top;
    width: 400px;
    height: 400px;
    border-radius: 10%;
    align-content: center;
    object-fit: cover;
  }
}



