@use "sass:color";
@use '../../styles/scss/abstracts/' as *;

.header {
  margin-top: 30px;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 2rem;
  margin-bottom: 100px;

  .brand img {
    font-size: 1.7rem;
    height: 7rem; 
    width: 7rem;
    object-fit:fill;
    border-radius: 25%;
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: baseline;
    }
  
    li {
      margin-left: 3rem;
    }
  
    a {
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 1px;
      text-decoration: none;
  
      &:hover, &:active {
        color: $brandColor;
      }
    }
  }
}