 .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  margin-top: 7rem;
  width: 100%;
  flex: 1 0 auto;

  @media (min-width:1024px) and (max-width: 1366px) {
  margin-top: 9rem;  
  }
}

