@use "sass:color";
@use '../abstracts/' as *;

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryColor;
  padding: 0 10%;

  .brand {
    margin-left: 0;
    font-size: 1.7rem;
    max-width: 200px;
    text-transform: lowercase;
    color: color.adjust($brandColor, $lightness: 50%);
    border-radius: 10px;
    
    &:hover {
      color: color.adjust($brandColor, $lightness: 35%);
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: baseline;
    }
  
    li {
      margin-left: 3rem;
    }
  
    a {
      color: $highlightColor;
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
  
      &:hover, &:active {
        color: color.adjust($brandColor, $lightness: 35%);
      }
    }
  }
}