.imagen{

    display: flex;
    justify-content: center;  
    align-items: center;      
    padding: 0rem 0;    

    img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 10%;
        align-content: center;
    }

}