@use '@/styles/scss/abstracts/' as *;

.buttonLink {
  padding: 0.5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  color: $primaryColor;
  background-color: transparent;
  border-radius: 4px;
  border: solid 1px $highlightColor;
  text-decoration: none;

  &:hover, &:active {
    background-color: $brandColor;
    color: $complementaryColor;
  }
}