@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.title {
  padding: 2.5rem 2rem 2rem 2rem;
  font-size: 3.9em;
  color: $complementaryColor;
}

.Wrapper {
    margin-top: 10px;
    padding: 0rem 0rem 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    @media (max-width: 430px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
    }
    

  .column{
    flex: 1 1 50%;
  }
  .form {
  
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      padding: 0.5rem;
      border: 1px solid $highlightColor;
      border-radius: 6px;
      font-size: 1.5em;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      width: 100%;
    }

    button {
      display: inline-block;
      padding: 0.5rem 1.5rem;
      background-color: $complementaryColor;
      color: #f8f9fa;
      border: 2px solid $highlightColor;
      border-radius: 4px;
      cursor: pointer;
      width: fit-content;
      align-self: center;
      text-align: center;
      box-shadow: 2px 2px 0 #b6d8df;
      font-family: space grotesk, sans-serif;
      cursor: pointer;

  &:hover, &:active {
    background-color: $brandColor;
    color: $complementaryColor;
    }
  }

    small {
      color: red;
      font-size: 0.9rem;
    }

    .contact__successMessage {
      color: green;
      font-weight: bold;
      margin-top: 1rem;
      text-align: center;
    }
  }

  .infoWrapper {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: center;
  }

  .infoBox {
    gap: 0rem;
    text-align: center;
    color: #232f45;


    .contact__icon {
      font-size: 2.4rem;
      color: #232f45;
      margin-bottom: 0.5rem;
    }

    h3 {
      margin: 0rem;
      font-size: 1.5em;
      color: $complementaryColor;
      text-align: center;
    }
  }

  





    
  
  