@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.contact {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start; // para que se alineen arriba
    padding-top: 6em;
  }

  &__column {
    flex: 1 1 500px;
    max-width: 600px;
  }

  &__title {
    text-align: center;
    font-size: 2.8em;
    font-weight: 400;
    color: $complementaryColor;
    letter-spacing: 1px;
    margin-bottom: 1rem;

    span {
      font-weight: 700;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      padding: 0.75rem;
      border: 1px solid #ffd700;
      border-radius: 6px;
      font-size: 1rem;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      width: 100%;
    }

    button {
      padding: 0.75rem 2rem;
      background-color: #232f45;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      width: fit-content;
      align-self: center;
      box-shadow: 2px 2px 0 #b6d8df;

      &:hover {
        opacity: 0.9;
      }
    }

    small {
      color: red;
      font-size: 0.9rem;
    }

    .contact__successMessage {
      color: green;
      font-weight: bold;
      margin-top: 1rem;
      text-align: center;
    }
  }

  &__infoWrapper {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__infoBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    color: #232f45;

    h3 {
      font-size: 1.3rem;
      font-weight: bold;
      margin-top: 0.5rem;
    }

    p {
      margin: 0.25rem 0;
      font-size: 1rem;
    }

    .contact__icon {
      font-size: 2.4rem;
      color: #232f45;
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    &__wrapper {
      flex-direction: column;
      text-align: center;
      padding: 2rem 1rem;
    }

    &__column {
      max-width: 90%;
    }

    &__title {
      font-size: 2rem;
    }
  }
}




    
  
  