@use "sass:color";
@use '@/styles/scss/abstracts/' as *;


  .text {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0rem 2rem ;
    justify-content: center;
    margin: 2em auto;
    

  p {
    align-items: left;
    margin: 0.1rem;
    font-size: 1.2em;
    color: $complementaryColor;
  }
}


@media (max-width: 1024px) {

  .text {
    margin-top:30px;
  }

}



@media (max-width: 768px) {

  .text {
    margin-top:30px;
  }

}









