@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.showcase {
  
  margin-top:30px;
  background: no-repeat center/cover;
  background-position: 20% 30%;
  height: 50vh;
  position: relative;

  @media (max-width: 760px){
    margin-top: 60px;
  }
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(213, 213, 240, 0.5);
    text-align: center;

 

    h1 {
      padding: 0.7rem 2rem 0rem 2rem;
      font-size: 3.9em;
      font-weight: 400;
      color: $complementaryColor;
      text-align: left;
      @media (max-width: 760px){
        padding: 0rem 2rem 0rem 2rem;
      }
    }
  
    span {
      font-weight: 700;
    }
  
    h2 {
      margin: 0rem;
      padding: 0rem 2rem 2rem 2rem;
      font-size: 1.5em;
      color: $complementaryColor;
      text-align: left;
      
      span {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 430px) {

  .showcase {
 background-position: 60% 50%;
  }

}