@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.showcase {
  margin-top:30px;
  background: no-repeat center/cover;
  background-position: 20% 30%;
  height: 50vh;
  position: relative;
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(213, 213, 240, 0.5);
    text-align: center;
 

    h1 {
      align-items: center;
      font-size: 2.8em;
      font-weight: 400;
      color: $complementaryColor;
      
    }
  
    span {
      font-weight: 700;
    }
  
    h2 {
      align-items: center;
      font-size: 1.5em;
      color: $complementaryColor;
      
      span {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 1024px) {

  .showcase {
    margin-top: 100px;
  }

}


@media (max-width: 430px) {

  .showcase {
 background-position: 60% 50%;
  }

}