@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.heroSplit {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding: 0rem 2rem 2rem 1rem;
  background: no-repeat center/cover;
  height: auto;
  transition: margin-top 0.3s ease;
  align-items: center;

  @media (max-width: 430px) {
    flex-direction: column;
    padding: 2rem;
    text-align: left;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  max-width: 50%;
  align-items: flex-start;
  padding: 0rem 2rem 2rem 1.2rem;
  justify-content: flex-start;

  h1 {
    font-size: 3.9em;
    font-weight: 400;
    color: $complementaryColor;
    text-align: left;
  }

  span {
    font-weight: 700;
  }

  p {
    margin: 0rem;
    font-size: 1.5em;
    color: $complementaryColor;
    text-align: left;
  }

  @media (max-width: 430px) {
    max-width: 100%;
    align-items: left;

    h1{
      text-align: left;
      font-size: 3em;
    }

    p{
      text-align: left;
      font-size: 1.5em;
      margin-bottom: 20px;
    }
  }
}

.imageSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  max-width: 50%;
  margin-top: 2rem;

  img {
    object-position: top;
    width: 100%;
    max-height: 420px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    object-fit: cover;
    max-width: fit-content;
    max-height: fit-content;
  }

  @media (max-width: 430px) {

    max-width: 100%;
    margin-top: 0;

    img {
      height: auto;
      padding-left: 1rem;
    }
  }
}

.button {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-left: 2rem;

  button,
  a {
    padding: 0.6rem 1.2rem;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .heroSplit {
    padding-left: 1rem;
  }

  .button {
    padding-left: 3rem;

    @media (max-width: 430px) {
      padding-left: 2rem;
      justify-content: left; 
    }
  }
}

@media (min-width: 430px) {
  :global(body.menu-open) .heroSplit {
    margin-top: 30rem;
  }

  :global(body:not(.menu-open)) .heroSplit {
    margin-top: 30px;
    min-height: 60vh;
  }

  .imageSide img {
    margin-top: 0px;
  }
}








