@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.showcase {

  background-color: transparent;
   
  .overlay {
    background-color: transparent;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
      margin: 0.5rem 0;
      font-size: 2.8em;
      font-weight: 400;
      color: $complementaryColor;
      letter-spacing: 1px;

      span {
        font-weight: 700;
      }
    }

    p {
      margin: 0.5rem;
      font-size: 1.2em;
      color:$complementaryColor;
    }
  }
}
