@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.heroSplit {
  margin-top: 30px;
  padding: 0rem 2rem ;
  background: no-repeat center/cover;
  height: auto;
  transition: margin-top 0.3s ease;
  margin-bottom: 20px;
}

.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem ;
  justify-content: center;
  margin: 0 auto;

  h1 {
    font-size: 2.8em;
    font-weight: 400;
    color: $complementaryColor;
    text-align: center;
  }

  span {
    font-weight: 700;
  }

  p {
    align-items: left;
    margin: 0.1rem;
    font-size: 1.2em;
    color: $complementaryColor;
  
  }
}

.imageSide {
  text-align: center;
  margin-top: 2rem;

  img {
    object-position: top;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
  }
}

@media (min-width: 430px) {

  :global(body.menu-open) .heroSplit {
    margin-top: 30rem; 
  }
  :global(body:not(.menu-open)) .heroSplit {
    margin-top: 30px;
    min-height: 60vh;
  }

  .imageSide img {
    margin-top: 0px;
  }
}







