@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.showcase {
  
  background: no-repeat center/cover;
  background-position: 50% 25%;
  height: 50vh;
  position: relative;
  
  
  .overlay {
   
    background-color: rgba(213, 213, 240, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
 

    h1 {
      margin-top:10px;
      font-size: 2.8em;
      font-weight: 400;
      color: $complementaryColor;
      text-align: center;
    }
  
    span {
      font-weight: 700;
    }
 
    h2 {
      font-size: 1.5em;
      font-weight: 400;
      color: $complementaryColor;

      span {
        font-weight: 700;
      }
    }
  }
}
  .text {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0rem 2rem ;
    justify-content: center;
    margin: 2em auto;
    

  p {
    align-items: left;
    margin: 0.1rem;
    font-size: 1.2em;
    color: $complementaryColor;
  }
}


@media (max-width: 1024px) {

  .showcase {
    height: 20vh;
  }

}









